.catalog-slider-wrap
	max-width: 103.25em
	margin: 0 auto
	h2
		text-align: center
		margin-top: 3em
	.catalog-slider
		.item
			display: flex
			flex-flow: wrap
			margin: 0 auto
			justify-content: center
			.wine-card
				width: 18.4em
				// height: auto
				text-align: center
				padding: 2.1em 2em 2.5em
				margin: 1em
				transition: .4s ease
				position: relative
				color: #000
				&::before
					content: ''
					position: absolute
					background-color: #fff
					border: 1px solid #e8e8e8
					left: 0
					right: 0
					top: 0
					bottom: 0
					transform: scale(1.01)
					transition: .4s ease
				&:hover
					z-index: 0
					&::before
						z-index: 1
						background: url("../img/slider-bg.png") no-repeat center center
						box-shadow: 0 0 24px rgba(32, 37, 46, 0.26)
						transition: .4s ease, background .00000000000000000000001s ease
						bottom: -0.5em
						box-shadow: 0 0 24px rgba(32, 37, 46, 0.1)
						transform: scale(1.05)
					.item__buy
						visibility: visible
						opacity: 1
				i, p, strong, img, h3
					position: relative
					z-index: 3
				img
					margin: 0 auto
					width: auto
					max-height: 15em
				i
					color: $accent
					font-size: 14px
					margin-top: 0.5em
				h3
					font-size: 20px
					font-weight: bold
				strong
					font-family: "PlayfairDisplay"
					font-size: 2em
					color: $accent
					border-top: 1px solid #2e2e2e
				.item__buy
					visibility: hidden
					margin-top: 2em
					display: flex
					justify-content: space-evenly
					position: relative
					opacity: 0
					transition: opacity .4s ease
					z-index: 3
					input
						width: 3em
						border: 1px solid #fdfdfd
						border-radius: 10em
						padding-left: 13px
					span
						display: flex
						justify-content: center
						align-items: center
						border-radius: 10em
						font-size: 1.5em
						width: 1.5em
						height: 1.5em
						cursor: pointer
						box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.75)
						transition: .7s ease
					.minus
						color: $accent
						border: 2px solid $accent
						&:hover
							background: radial-gradient(circle 22px at 49.37% 60.35%, #c10029 0%, $accent 100%)
							color: #fff
					.plus
						background: radial-gradient(circle 22px at 49.37% 60.35%, #c10029 0%, $accent 100%)
						color: #fff
						&:hover
							border: 2px solid $accent
							background: none
							color: $accent
					.black-btn
						font-size: 14px
						font-weight: 600
						margin-left: 10px
						transition: all .4s ease
		
		.owl-stage-outer
			padding: 3em 0
		.owl-nav
			position: absolute
			// left: 0
			right: 0
			bottom: 0
			transition: .4s ease
			.owl-prev
				right: 4em
				bottom: -2.5em
				padding: 0 3px 0 0
				transition: .4s ease
			.owl-next
				right: 1em
				bottom: -2.5em
				padding: 0 0 0 3px
			.owl-next, .owl-prev
				transition: .4s ease
				position: absolute
				display: flex
				justify-content: center
				align-items: center
				font-size: 2.3em
				border-radius: 10em
				width: 1em
				height: 1em
				transition: color 1s ease
				&::after
					content: ''
					border-radius: 10em
					z-index: -1
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					transition: opacity .3s ease
					opacity: 0
					background-image: linear-gradient(to top, #c10029 0%, $accent 100%)
				&:hover
					opacity: 1
					box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.75)
					color: #fff
					&::after
						opacity: 1

	.slider-counter
		margin: 0.7em auto 0
		padding: 0 4.2em
		text-align: right
		padding-right: 6em
		margin-top: 4em
		position: relative
		&::before
			content: ''
			height: 2px
			background: #bbbbbb
			position: absolute
			bottom: .5em
			left: 3em
			right: 15em
		&::after
			content: ''
			background: url("../img/counter-bg.svg")
			width: 177px
			height: 132px
			position: absolute
			right: 2em
			bottom: -3em
			z-index: -1



.alco-card
	margin: 4em 0
	.alco-card-wrap
		max-width: 85em
		margin: 0 auto
		padding: 0 20px

.alco-card-info
	display: flex
	padding: 0 60px
	justify-content: space-between
	.alco-card__img
		width: 128px
		img
			width: 100%
	.alco-card-info__body
		width: 80%
		border-bottom: 3px solid #20252e7a
		padding: 0 0 0 27px
		.alco-card__headline
			h2
				color: $accent
				font-size: 35px
				font-weight: 400
				font-family: 'Panton'
		.alco-table
			display: flex
			justify-content: space-between
			margin-top: 67px
			// flex-flow: wrap
			table
				tr
					td
						width: 230px
						padding: 10px 0
						span
							font-weight: 700
						.alco-table-i
							color: $accent
		.total
			display: flex
			position: relative
			align-items: center
			justify-content: space-evenly
			margin-top: 2em
			padding: 10px 0
			.total__price
				strong
					font-family: "PlayfairDisplay"
					font-size: 36px
					color: $accent
					margin-left: 0.3em
			.total__line
				background-color: #20252e7a
				height: 2px
				left: -27px
				right: -10px
				top: 0
				position: absolute
				// width: 100%
			.total-wrap
				display: flex
				width: 60%
				.item__buy
					margin-right: 160px
				.total__btns
					display: flex
					align-items: flex-end
					position: relative
					.cart
						margin-right: 20px
					.btn
						font-size: 14px

.alco-card__characteristic
	margin-top: 4em
	h3
		font-family: "PlayfairDisplay"
		font-size: 24px
		font-weight: 400
	.alco-card__characteristic__description
		display: flex
		justify-content: space-between
		.characteristic__description
			width: 45%
			ul
				li
					list-style-type: disc
					list-style-position: inside
					margin: 20px 0
					span
						padding-left: 10px
						font-weight: bold

.cart
	&::before
		content: ''
		border-radius: 50%
		z-index: -1
		position: absolute
		top: 0
		left: 1px
		transform: translateX(-15%) translateY(-15%)
		width: 50px
		height: 50px
		transition: opacity .3s ease
		opacity: 0
		background-image: linear-gradient(to top, #c10029 0%, $accent 100%)
		box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.75)
	&:hover
		opacity: 1
		color: #fff
		&::before
			opacity: 1
		.cls-1
			fill: #fff

.item__buy
	display: flex
	justify-content: space-evenly
	align-items: center
	position: relative
	opacity: 1
	transition: opacity .4s ease
	z-index: 3
	strong
		font-family: "PlayfairDisplay"
		font-size: 2em
		color: $accent
		margin-left: 1em
	input
		width: 3em
		border: 1px solid #fdfdfd
		border-radius: 10em
		padding-left: 17px
	span
		display: flex
		justify-content: center
		align-items: center
		border-radius: 10em
		font-size: 1.5em
		width: 1.5em
		height: 1.5em
		cursor: pointer
		box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.75)
		transition: .7s ease
	.minus
		color: $accent
		border: 2px solid $accent
		&:hover
			background: radial-gradient(circle 22px at 49.37% 60.35%, #c10029 0%, $accent 100%)
			color: #fff
	.plus
		background: radial-gradient(circle 22px at 49.37% 60.35%, #c10029 0%, $accent 100%)
		color: #fff
		&:hover
			border: 2px solid $accent
			background: none
			color: $accent

.alco-cards
	margin-bottom: 4em
	.alco-cards-wrap
		max-width: 103.25em
		margin: 0 auto
		h2
			font-weight: 400
			text-align: center