.filter-wrap
	display: flex
	height: 62px
	align-items: center
	p
		margin-bottom: 0
		color: #fff
	.filter-head
		width: 200px
		a
			display: flex
			justify-content: space-evenly
	.filter-body
		nav
			ul
				display: flex
				li
					display: flex
