.top-active
	border-bottom: 1px solid $accent
	max-width: 100%
	transition: .4s ease

.top-line
	position: fixed
	width: 100%
	top: 0
	left: 0
	z-index: 333
	background: #fff
	&-wrap
		max-width: 103.25em
		margin: 0 auto
		padding: 0 0.8em
		
		.top-line-body
			position: relative
			display: flex
			justify-content: space-between
			align-items: center
			height: 114px
			padding: 1em 0 0.7em
			&::before
				content: ''
				height: 2px
				top: 50%
				right: 0
				left: 100px
				background: #c4c4c4
				position: absolute
			.brand
				display: flex
				.logo
					width: 90px
					transition: .4s ease
					&:hover
						transform: scale(1.2) rotate(-360deg)
					img
						max-width: 100%
		
			.top-line__menu
				display: flex
				flex-direction: column
				justify-content: space-between
				// max-width: 90em
				width: 75%
				height: 100%
				.brand, .social, .license
					display: none
				.top-menu, .btm-menu
					// padding: 10px 0
					ul
						display: flex
						align-items: center
						li
							a
								&:hover
									text-shadow: 0px 0px 0px #69002F, 0px 0px 0px #69002F, 0px 0px 0px #69002F, 0px 0px 1px #69002F
									font-weight: normal
				.top-menu
					padding-top: 0.5em
					ul
						li
							margin: 0 0.5em
				.btm-menu
					text-transform: uppercase
					ul
						justify-content: space-between
						padding: 18px 0
						li:not(:last-child)
							border-right: 1px solid #bbbbbb
							padding: 0 20px 0 7px
						li
							width: auto
							a
								display: flex
								align-items: center
								justify-content: center
								position: relative
								&:hover
									transition: opacity 1s ease
									.icon-hover-2
										opacity: 1
								.icon-hover-2
									opacity: 0
									position: absolute
									left: -17px
									top: -5px
								div
									&:first-child
										width: 27px
										img
											// position: absolute
											margin-right: 3px
											max-width: 100%
									&:last-child
										display: flex
										justify-content: center
										font-size: 100%
										text-align: center
										@media screen and ( max-width: 1500px)
											font-size: fs(12, 16, 1200, 1500)
							&:hover
								.btm-menu__hidden
									visibility: visible
									opacity: 1
							.btm-menu__hidden
								visibility: hidden
								opacity: 0
								position: absolute
								background-color: #fff
								left: 0
								right: 0
								top: 100px
								border-radius: 10px
								border-bottom: 3px solid #000000
								transition: .4s ease
								.btm-menu__hidden-wrap
									display: flex
									justify-content: space-between
									padding: 20px 35px
									.btm-menu__category
										margin-right: 20px
										.btm-menu__hidden__headline
											text-align: center
											font-weight: bold
											font-size: 16px
											margin: 10px 0
										ul
											display: block
											padding: 0
											li
												padding: 4px 0
												border-right: 0px
												text-transform: none
												font-size: 14px
												a
													padding: 0

			.top-line__media
				display: flex
				justify-content: flex-end
				height: 100%
				.btn
					align-self: flex-start
				.top-line-social
					display: flex
					flex-flow: column
					justify-content: space-around
					width: 33%
					margin-left: 1em
					.social
						display: flex
						a
							display: flex
							flex-flow: column
							justify-content: center
							align-items: center
							border-radius: 50%
							position: relative
							// padding: 6px 10px
							font-size: 23px
							width: 50px
							height: 30px
							position: relative
							z-index: 1
							&::before
								content: ''
								border-radius: 50%
								z-index: -1
								position: absolute
								left: 0
								right: 0
								bottom: 0
								top: 0
								background-image: radial-gradient(circle 27px at 49.24% 62.62%, #c10029 0%, #69002f 100%)
								background-size: 0% 0%
								background-position: 50% 50%
								background-repeat: no-repeat
								transition: .1s
								box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.75)
							&:hover
								color: #fff
								&::before
									background-position: 100% 100%
									background-size: 100% 100%
					.searches
						align-self: flex-end
						display: flex
						position: relative
						width: 100%
						justify-content: space-between
						.search, .cart
							font-size: 1.7em
							color: $accent
							cursor: pointer
							position: relative
							display: flex
							align-items: center
						.search
							&::before
								content: ''
								border-radius: 50%
								z-index: -1
								position: absolute
								top: 0
								left: 0
								transform: translateX(-15%) translateY(-15%)
								width: 42px
								height: 42px
								transition: opacity .3s ease
								opacity: 0
								background-image: linear-gradient(to top, #c10029 0%, $accent 100%)
								box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.75)
							&:hover
								opacity: 1
								color: #fff
								&::before
									opacity: 1
								.cls-1
									fill: #fff
						.cart
							position: relative
							&::before
								content: ''
								border-radius: 50%
								z-index: -1
								position: absolute
								top: 0
								left: 0
								transform: translateX(-15%) translateY(-15%)
								width: 42px
								height: 42px
								transition: opacity .3s ease
								opacity: 0
								background-image: linear-gradient(to top, #c10029 0%, $accent 100%)
								box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.75)
							&:hover
								opacity: 1
								color: #fff
								&::before
									opacity: 1
								.cls-1
									fill: #fff
						&:hover
							.basket-hover
								visibility: visible
								opacity: 1
						form
							position: relative
							input
								width: 0
								border: none
								outline: none
								background: transparent
								border-bottom: 2px solid transparent
								transition: .4s cubic-bezier(0, 0.8, 0, 1)
								position: absolute
								top: 0.3em
								right: 0em
								z-index: 2
								cursor: pointer
							input::-webkit-input-placeholder
								border-bottom: 2px solid #f6f6f6
							input:-moz-placeholder
								color: #fff
							input:-ms-input-placeholder
								color: #fff
							input.search-active
								width: 170px
								z-index: 1
								color: #20252e
								border-bottom: 2px solid #F9F0DA

						.basket-hover
							visibility: hidden
							opacity: 0
							position: absolute
							transition: .4s ease
							padding: 27px 16px 34px 10px
							left: -268px
							top: 50px
							z-index: 30
							right: 0
							background-color: #fff
							box-shadow: 0 0 24px rgba(32, 37, 46, 0.26)
							border: 1px solid #e8e8e8
							h2
								font-size: 18px
							.basket-hover__headline
								display: flex
								justify-content: space-between
								border-bottom: 1px solid #20252e75
								padding: 0 0 15px 0
								h2
									font-weight: 400
								span
									cursor: pointer
									&:hover
										text-decoration: underline
							.basket-hover-item
								display: flex
								padding: 10px 0 17px
								border-bottom: 1px solid #20252e75
								.basket-hover__img
									width: 30px
									img
										max-width: 100%
								.basket-hover__description
									padding: 0 0 0 10px
									width: 100%
									position: relative
									.basket-hover__description-delete
										position: absolute
										font-size: 30px
										cursor: pointer
										right: 0
										top: 0
										&:hover
											color: $accent
											transition: color .4s ease
									i
										color: $accent
									p
										margin: 17px 0
									.item__buy
										justify-content: space-around
										.minus,
										.plus
											font-size: 1.3em
											width: 1.3em
											height: 1.3em
										strong
											font-size: 1.2em
							.total
								text-align: center
								display: flex
								flex-flow: wrap
								justify-content: center
								h3
									font-size: 18px
									font-weight: 400
									margin: 1.5em 0
									strong
										font-family: "PlayfairDisplay"
										font-size: 1.3em
										color: $accent
										margin-left: 0.3em

			.top-line__burger
				display: none