@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)


	body.lock
		overflow: hidden!important

	.top-line
		.top-line-wrap
			.top-line-body
				justify-content: flex-start
				&::before
					display: none
				.brand
				.top-line__menu
					display: flex
					position: fixed
					overflow: auto
					top: -100%
					left: 0
					width: 100%
					height: 100%
					background-color: #fff
					// opacity: 0.7
					flex-flow: column
					justify-content: space-around
					align-items: center
					transition: .4s ease
					z-index: 3
					&::before
						content: ''
						background: url("../img/header-el1.svg") no-repeat
						background-size: cover
						width: 35.6875em
						height: 33.75em
						transform: scale(-1, 1)
						left: 0
						top: 15%
						position: absolute
						z-index: 7
					&::after
						content: ''
						background: url("../img/header-el1.svg") no-repeat
						background-size: cover
						width: 49.8125em
						height: 36.5em
						position: absolute
						z-index: 7
						top: 70%
						right: 0
					.brand, .social, .license
						display: block
					.brand
						display: flex
						margin-top: 27em
						z-index: 12
						&::before
							content: ''
							width: 100%
							height: 3px
							top: 7em
							right: 0
							background: $accent
							position: absolute
						.logo
							flex: 0 0 120px
							transition: .4s ease
							&:hover
								transform: scale(1.2) rotate(-360deg)
							img
								max-width: 100%
								display: block
					.license
						position: absolute
						left: 2em
						bottom: -50%
						transform: translateX(-10%)
						font-size: 2em
						z-index: 11
						span
							font-weight: bold
					.social
						display: flex
						position: absolute
						right: 2em
						bottom: -50%
						transform: translateX(50%)
						z-index: 11
						font-size: 3em
						a
							display: flex
							flex-flow: row
							justify-content: center
							align-items: center
							border-radius: 50%
							position: relative
							// padding: 6px 10px
							margin: 3px
							font-size: 25px
							width: 40px
							height: 40px
							position: relative
							z-index: 1
							&::before
								content: ''
								border-radius: 50%
								z-index: -1
								position: absolute
								left: 0
								right: 0
								bottom: 0
								top: 0
								background-image: radial-gradient(circle 27px at 49.24% 62.62%, #c10029 0%, #69002f 100%)
								background-size: 0% 0%
								background-position: 50% 50%
								background-repeat: no-repeat
								transition: .1s
							&:hover
								color: #fff
								&::before
									background-position: 100% 100%
									background-size: 100% 100%
					.top-menu, .btm-menu
						display: flex
						width: 100%
						align-items: center
						justify-content: center
						z-index: 10
					.top-menu
						margin-top: 3em
						order: 1
						ul
							flex-flow: row wrap
							justify-content: center
							width: 77%
							li
								padding: 0.7em 0
								a
									position: relative
									display: inline-block
									width: 14em
									height: auto
									padding: 0.7em 1em
									text-align: center
									color: #fff
									font-size: 1.5em
									border-radius: 10px
									box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.75)
									background-image: linear-gradient(to top, #a4022c 0%, #5a0132 100%)
									transition: .4s ease
									overflow: hidden
									outline: none !important
									&:hover
										color: #ff9e9e
					.btm-menu
						ul
							display: block
							li:not(:last-child)
								border-right: 0px
								border-bottom: 1px solid #bbbbbb
							li
								display: block
								a
									font-size: 3em
									.fa
										padding-right: 0.5em

				.top-line__media
					flex-flow: wrap
					display: flex
					position: relative
					align-content: center
					align-items: center
					z-index: 1
					width: 100%
					.top-line_btn
						z-index: -1
						order: 2
					.top-line-social
						flex-flow: nowrap
						width: 100px
						margin: 0 1em 0 0
						.social
							display: none
						.searches
							form
								input
									position: fixed
									top: 7.2em
									right: 0
									color: #fff
									background: #20252e
									padding: 0
								input.search-active
									width: 100%
									padding: 10px 32px 10px 15px
								input::-webkit-input-placeholder
									color: #fff
								input:-moz-placeholder
									color: #fff
								input:-ms-input-placeholder
									color: #4d1e1e

				.top-line__burger
					display: inline-block
					position: relative
					z-index: 5
					order: -1
					width: 100px
					height: 62px
					transition: .1s
					margin: 10px 10px
					cursor: pointer
					span
						position: absolute
						background: radial-gradient(circle 71px at 47.92% 81.71%, #a4022c 0%, #5a0132 100%)
						// background-image: radial-gradient(circle 71px at 47.92% 81.71%, #a4022c 0%, #5a0132 100%)
						box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.75)
						background-attachment: path
						transition: .3s ease
						width: 12px
						height: 12px
						display: block
						border-radius: 100%
						&:nth-child(1)
							left: 0
							top: 0
						&:nth-child(2)
							left: 29px
							top: 0
						&:nth-child(3)
							left: 57px
							top: 0
						&:nth-child(4)
							left: 0
							top: 24px
						&:nth-child(5)
							position: absolute
							left: 29px
							top: 24px
						&:nth-child(6)
							left: 57px
							top: 24px
						&:nth-child(7)
							left: 0px
							bottom: 0px
						&:nth-child(8)
							position: absolute
							left: 29px
							bottom: 0px
						&:nth-child(9)
							left: 57px
							bottom: 0
					&:hover span
						transform: scale(1.2)
						transition: .4s cubic-bezier(.8, .5, .2, 1.4)

				.burger-active
					top: 0!important
					span
						border-radius: 50%
						transition-delay: 200ms
						transition: .5s cubic-bezier(.8, .5, .2, 1.4)
						&:nth-child(2)
							left: 15px
							top: 13px
						&:nth-child(4)
							left: 15px
							top: 38px
						&:nth-child(6)
							left: 43px
							top: 13px
						&:nth-child(8)
							left: 43px
							bottom: 12px
				.top-line__burger.burger-active
					transform: rotate(180deg)
					cursor: pointer
					transition: .2s cubic-bezier(.8, .5, .2, 1.4)

	.main-header
		height: 100vh
		height: calc(var(--vh, 1vh) * 100)
		margin-bottom: 10em
		&::before
			bottom: auto
		&::after
			display: none
		&-wrap
			.main-header__headline
				top: 8em
			.video
				top: 39%
				right: 40%
				width: 10.25em
				height: 10.25em
				img
					width: 70%
				&::before
					top: 30%
				&::after
					font-size: 12px
					bottom: 30%
			.header-slider
				height: calc(var(--vh, 1vh) * 100)
				width: 100vw
				&::after
					display: none
				.handler
					bottom: 5%
					left: 15%
				.show
					width: 100vw
					height: 100vh
					img
						width: auto
						height: auto

	.first-sect
		padding: 1.7em 0 0 0
		.slider__body
			.catalog-slider-wrap
				.catalog-slider
					.item
						.wine-card
							.item__buy
								visibility: visible
								opacity: 1


	.second-sect
		&-wrap
			padding: 0 30px
			.second-sect__headline
			.second-sect-slider
				.slider-2
					&::before
						display: none
					&::after
						display: none
					.item
						margin: 0 auto
						width: 541px
						height: 335px
						box-shadow: 0px 0px 70px 5px $accent
						img
							width: 100%
							height: 100%
					.center
						transform: scale(1)
						box-shadow: none
					.owl-stage-outer
						padding: 4em 0
			.second-sect__btns
				width: 50%

	.main-footer
		background-position: 47% -15%
		.footer-wrap
			justify-content: center
			.footer-left
				display: none
				.footer-nav
					// // align-items: center
					// ul
					// 	padding: 0.4em 0.4em 0
					// 	li
					// 		padding: 0.7em 0
			.footer-right
				flex-flow: column
				width: auto
				// flex-flow: row wrap
				// justify-content: flex-end
				&__call
					padding-top: 0


	// Brand-Card ==================================================================================================================>

	.single-brands
		&::before
			bottom: -1%
		.brand-wrap
			.ref-path
				ul
					flex-flow: wrap!important
			.brand
				align-items: center
				margin: 2.5em 0 5.5em
				img
					max-width: 100%
				p
					width: 100%

	.other-cards
		.brands-cards-wrap
			h2
				margin-top: 0
			p
				margin: 0
			.brands-slider-wrap
				.brands-slider
					.item
						.card
							border: 1px solid #a0a0a0
							padding: 2.1em 2em 3.3em
							&::before
								border: 1px solid #a0a0a0
							.black-btn
								visibility: visible
								opacity: 1
								bottom: 15px
					.owl-nav
						.owl-prev,
						.owl-next
							bottom: -1.5em
			.slider-counter
				margin: 1.5em 0 3.5em

	.brands-cards
		.brands-cards-wrap
			&::before
				bottom: -1%
			.brands-slider-wrap
				.brands-slider
					.item
						.card
							border: 1px solid #a0a0a0
							padding: 2.1em 2em 3.3em
							&::before
								border: 1px solid #a0a0a0
							.black-btn
								visibility: visible
								opacity: 1
								bottom: 15px
					.owl-nav
						.owl-prev,
						.owl-next
							bottom: -1.5em
				.slider-counter
					margin: 1.5em 0 3.5em

	// Catalog

	.catalog-cards
		.catalog-wrap
			.catalog-slider-wrap
				.catalog-slider
					.item
						.wine-card
							.item__buy
								visibility: visible
								opacity: 1


	// Contacts

	.contacts
		.contacts-wrap
			.address
				left: 23%

	.gallery
		padding: 1em 0
		&-wrap
			.gallery-slider-wrap
				.gallery-slider
					.item
						width: 50%
						height: 25%
						margin: 0 auto
					.center
						box-shadow: none
						
					.owl-stage-outer
						padding: 4em 0
					.owl-nav
						.owl-prev
							right: 80%
						.owl-next
							left: 80%

	// Company

	.company
		.company-wrap
			p
				width: 100%

	.points
		&-wrap
			h2
				margin: 0 0 1.5em
			.points__items-wrap
				flex-flow: wrap
				justify-content: center

	.gallery-company
		padding: 1em 0
		.gallery-company-wrap
			.gallery-slider-wrap
				.gallery-slider
					.item
						width: 50%
						height: 25%
						margin: 0 auto
					.center
						box-shadow: none
						
					.owl-stage-outer
						padding: 4em 0
					.owl-nav
						.owl-prev
							right: 80%
						.owl-next
							left: 80%

	// Basket

	.basket
		&-wrap
			.purchases-wrap
				.total
				.purchases
					.purch
						display: flex
						align-items: center
						flex-flow: column
						padding: 42px 0px 11px
						width: 100%
						height: 100%
						.purch-left-center-wrap
							display: flex
							width: 100%
							justify-content: space-evenly
							.purch-left
								img
							.purch-center
								display: flex
								align-items: center
								margin-left: 2em
								&__name
									margin-right: 3em
									i
									color: $accent
									font-size: 18px
									margin-top: 0.5em
									h2
										font-size: 24px
										font-weight: 400
										color: #000
								table

						.purch-right-wrap
							display: flex
							flex-flow: column
							width: 100%
							.purch-line
								width: 100%
								background-color: #a9aeb8
								margin: 10px 0
								height: 1px
							.purch-right
								display: flex
								justify-content: space-evenly
								position: relative
								width: 100%
								.delete-basket
									transform: rotate(0deg) translateY(0) translateX(0)
									position: relative
									top: 0
									right: 0
									padding: 7px 5px 6px 7px
									transition: .4s ease
									font-size: 0px
									&::before
										width: 90px
										height: 100%
										background-color: #69002f
										top: 0
										left: 0
										z-index: 1
										transition: all 0s ease
									&::after
										content: '☓'
										position: absolute
										top: 0
										left: 50%
										z-index: 2
										font-size: 37px
										color: #fff
										transform: rotate(90deg) translateY(-50%) translateX(-20%)
									&:hover
										color: #ffffff
										&::before
											width: 90px
											height: 100%
											background-color: lighten(#69002f, 10%)
											top: 0
											left: 0
											transition: all .4s ease


	// Payment

	.payment
		&-wrap
			.decor
				display: flex
				flex-flow: column wrap
				justify-content: center
				.decor-left
					width: 100%
					h1
						margin-bottom: 0.5em
						text-align: center
				.decor-right
					width: 100%
					margin-left: 0
					order: -1
					h2
						font-size: 48px
						margin: 1em 0 0
						text-align: center

	.contact-form
		margin: 0 auto
		width: 100%
		max-width: 680px
		background: #fff
		padding: 15px
		// box-shadow: 0 3px 35px rgba(0, 0, 0, .1)
		// border-radius: 2px
		.contact-form__description
		.total
			margin-top: 4em
			justify-content: center
			h3
				font-size: 27px
				font-weight: 400
				margin: 2em 0
			strong
				font-size: 36px
			.btn
				font-size: 22px
				padding: 22px 33px
		.contact-form__input-wrapper
			.contact-form__input
				height: 60px
			.contact-form__checkbox

			.contact-form__checkbox-label
				font-size: 20px
			.contact-form__error
				font-size: 18px
				width: 100%
		.methods-wrapper
			h2
				font-size: 28px
				font-weight: 400
				margin: 1em 0

	.goods
		padding: 0 20px 40px
		border: none
		.goods__price
			display: flex
			justify-content: center
			p
				font-weight: 600
				font-size: 32px
				margin: 1em
		.goods__items
			display: flex
			flex-flow: row wrap
			height: 488px
			overflow-y: scroll
			.goods-item
				display: flex
				border-top: 1px solid #9a9da1
				padding: 13px 0
				margin: 0 26px 0 0
				width: 100%
				.goods-item__img
					margin-left: 8em
					flex: 0 0 37px
					img
						max-width: 100%
						display: block
				.goods-item-description
					margin-left: 5em
					h3
						font-size: 32px
						margin: 0
					table
						font-size: 20px
						td
							padding: 7px 11px 0px 0
							span
								font-weight: bold
					strong
						font-size: 30px

	// Alco Card
	.alco-card-info
		padding: 0 20px
		.alco-card__img
			width: 128px
			img
				width: 100%
		.alco-card-info__body
			width: 80%
			padding: 0
			.alco-table
				display: flex
				justify-content: flex-start
				margin-top: 32px
				flex-flow: column
				font-size: 18px
				table
			.total
				.total__line
					right: 0
					left: 0

// ≥992px
+media-breakpoint-down(md)

	// Error

	.error
		.error-wrap
			background-position: 57% -50%
			.error__headline
				padding: 0 5em
				h1
					font-size: 12.56em
					background-image: linear-gradient(to top, #c10029 0%, #69002f 100%)
					background-clip: text
					color: transparent
				h2
					font-size: 47px
					font-weight: 400
				.btn
					background-color: none
					background-image: none
					border: 3px solid #69002f
					color: #000
					padding: 7px 40px
					font-size: 14px
			.maint

	.top-line
		.top-line-wrap
			.top-line-body
				.brand
				.top-line__menu
					.brand, .social, .license
						display: block
					.brand
						&::before
						.logo
							&:hover
							img
					.license
					
					.social
					
					.top-menu, .btm-menu
						ul
							li
								a
									font-size: 1.5em
					.top-menu
						ul
							width: 100%


	.gallery
		padding: 1em 0
		&-wrap
			.gallery-slider-wrap
				.gallery-slider
					.item
						width: 75%
						margin: 0 auto
					.center
						box-shadow: none
						.video
							width: 10.25em
							height: 10.25em
							img
								width: 70%
							&::before
								top: 30%
							&::after
								font-size: 12px
								bottom: 30%
					.owl-stage-outer
						padding: 4em 0
					.owl-nav
						.owl-prev
							right: 93%
						.owl-next
							left: 93%


	// Basket
	
	.basket
		&-wrap
			.purchases-wrap
				.total
				.purchases
					.purch
						.purch-left-center-wrap
							.purch-left
								width: 50px
							.purch-center
								flex-flow: column

	// Alco Card
	.alco-card-info
		padding: 0
		flex-flow: column
		align-items: center
		justify-content: center
		.alco-card__img
			width: 100px
			img
				width: 100%
		.alco-card-info__body
			width: 100%
			.alco-card__headline
				margin-top: 2em
			.alco-table
				display: flex
				justify-content: flex-start
				margin-top: 32px
				flex-flow: column
				font-size: 18px
				table
					tr
						td
							width: 300px
			.total
				.total__line
				.total-wrap
					width: auto
					.item__buy
						margin-right: 3em

	.alco-card__characteristic
		.alco-card__characteristic__description
			flex-flow: column
			.characteristic__description
				width: 100%
				ul
					li
						list-style-type: disc
						list-style-position: inside
						margin: 20px 0
						span
							padding-left: 10px
							font-weight: bold

	// Filter

	.filter-wrap
		flex-flow: wrap
		.filter-head
			margin-bottom: 32px

// ≥768px
+media-breakpoint-down(sm)

	// Error

	.error
		.error-wrap
			background-position: 67% -50%
			.error__headline
				padding: 0 5em
				h1
					font-size: 12.56em
					background-image: linear-gradient(to top, #c10029 0%, #69002f 100%)
					background-clip: text
					color: transparent
				h2
					font-size: 47px
					font-weight: 400
				.btn
					background-color: none
					background-image: none
					border: 3px solid #69002f
					color: #000
					padding: 7px 40px
					font-size: 14px
			.maint

	.top-line
		.top-line-wrap
			.top-line-body
				.brand
				.top-line__menu
					&::before
						display: none
					&::after
						display: none
					.brand, .social, .license
						display: block
					.brand
						&::before
						.logo
							&:hover
							img
					.license
						top: 3%
						font-size: 1.2em
						height: 10%
						left: 40%
					.social
						top: 10%
						height: 20%
						left: 50%
						font-size: 2em
					.top-menu, .btm-menu
						ul
							li
								a
									font-size: 1em
					.top-menu
						ul
							width: 100%

	.main-footer
		.footer-wrap
			text-align: center
			justify-content: center
			.footer-right
				align-items: center
				&__call
					font-size: 1.2em
					a
						padding: 0.3em 0

	.main-header
		margin-bottom: 0
		&::before
			height: 88%
		&-wrap
			height: 100%
			&::before
				display: none
			&::after
				display: none
			.main-header__headline
				top: 8em
				left: 3em
				font-size: 0.8em
			.video
			.header-slider
				height: 100%
				.handler
					bottom: 4%
				.slide
					width: 100%
					height: 100%
					img
						width: auto
						height: auto
				.show
					width: 100%
					height: 100%
					img
						width: auto
						height: auto



	.second-sect
		&-wrap
			padding: 0
			.second-sect__headline
			.second-sect-slider
				.slider-2
					&::before
						display: none
					&::after
						display: none
					.item
						margin: 0 auto
						width: 541px
						height: 335px
						box-shadow: 0px 0px 70px 5px $accent
						img
							width: 100%
							height: 100%
					.center
						transform: scale(1)
						box-shadow: none
					.owl-stage-outer
						padding: 4em 0
					.owl-nav
						width: auto
						position: relative
						.owl-prev
							transform: translateY(-50%)
							left: 33%
						.owl-next
							left: 57%
							transform: translateY(-50%)


			.second-sect__btns
				width: 80%

	// Company

	.gallery-company
		padding: 1em 0 4em
		.gallery-company-wrap
			h1
				font-size: 80px
			.gallery-slider-wrap
				.gallery-slider
					.item
						width: 75%
						margin: 0 auto
					.center
						box-shadow: none
						.video
							width: 7.25em
							height: 7.25em
							img
								width: 70%
							&::before
								top: 30%
								font-size: 10px
							&::after
								font-size: 10px
								bottom: 30%
					.owl-stage-outer
						padding: 4em 0
					.owl-nav
						top: 89%
						.owl-prev
							right: 65%
						.owl-next
							left: 65%

	// Payment
	.goods
		padding: 0 5px 40px
		.goods__price
		.goods__items
			.goods-item
				.goods-item__img
					margin-left: 2em
				.goods-item-description
					margin-left: 3em

	// Alco Card
	.alco-card-info
		.alco-card__img
			width: 100px
			img
				width: 100%
		.alco-card-info__body
			width: 100%
			.alco-table
				table
					tr
						td
							width: 300px
			.total
				flex-flow: column
				margin-top: 0
				.total__line
					top: 35%
				.total__price
					margin-bottom: 1.5em
				.total-wrap
					width: auto
					flex-flow: column
					align-items: center
					.item__buy
						margin: 0 0 1.5em 0


// ≥576px
+media-breakpoint-down(xs)

	// Error

	.error
		.error-wrap
			background-position: 57% -50%
			.error__headline
				padding: 0
				text-align: center
				h1
					font-size: 9.56em
					background-image: linear-gradient(to top, #c10029 0%, #69002f 100%)
					background-clip: text
					color: transparent
					text-align: right
				h2
					font-size: 43px
					font-weight: 400
					text-align: right
				.btn
					margin-top: 16em
			.maint

	.top-line
		.top-line-wrap
			padding: 0 0.4em
			.top-line-body
				.brand
					.logo
						flex: 0 0 75px
				.top-line__menu
					&::before
					&::after
					.brand, .social, .license
						display: block
					.brand
						margin-top: 31em
						&::before
						.logo
							&:hover
							img
					.license
						top: 1%
						left: 40%
						font-size: 1.2em
						transform: translateY(1%)
					.social
						font-size: 1.8em
						top: 8%
						width: 4em
						height: 2em
					.top-menu, .btm-menu
						ul
							li
								a
									font-size: 1em
					.top-menu
						margin-top: 1em
						ul
							width: 100%
				.top-line__media
					width: 50%
					.top-line_btn
						order: 0



	.main-header
		&-wrap
			.main-header__headline
				top: 8em
				left: 3em
				font-size: 0.469em
			.video
			.header-slider
				.handler
					left: 0
					bottom: 0
					span
						width: 4em
				.show

	.second-sect
		padding: 4em 0 5em
		&-wrap
			padding: 0 10px
			.second-sect__headline
			.second-sect-slider
				.slider-2
					&::before
						// display: none
					&::after
						// display: none
					.item
						margin: 0 auto
						width: 450px
						height: 200px
						box-shadow: none
						img
							width: 100%
							height: 100%
					.center
						transform: scale(1)
						box-shadow: none
					.owl-nav
						.owl-prev
							left: 29%

			.second-sect__btns
				width: 90%
				flex-flow: wrap
				margin: 2em auto 0
				.btn
					margin: 0.8em 0

	.main-footer
		.footer-wrap
			padding: 0
			// .footer-left
			// 	// flex-flow: wrap
			// 	// justify-content: center
			// 	// align-items: center
			// 	.footer-nav
			// 		// align-items: center
			// 		// font-size: 1.2em
			// 		// flex-flow: wrap
			// 		// ul
			// 		// 	padding: 0.4em 0.4em 0
			// 		// 	li
			// 		// 		padding: 0.7em 0
			.footer-right
				flex-flow: column wrap
				justify-content: space-around
				&__call
					font-size: 1.2em


	// Contacts

	.gallery
		padding: 1em 0 4em
		&-wrap
			.gallery-slider-wrap
				.gallery-slider
					.item
						width: 75%
						margin: 0 auto
					.center
						box-shadow: none
						.video
							width: 7.25em
							height: 7.25em
							img
								width: 70%
							&::before
								top: 30%
								font-size: 10px
							&::after
								font-size: 10px
								bottom: 30%
					.owl-stage-outer
						padding: 4em 0
					.owl-nav
						top: 89%
						.owl-prev
							right: 65%
						.owl-next
							left: 65%


	// Company

	.company
			.company-wrap
				h2
					font-size: 1.5em
				h1
					font-size: 3.8em
					margin-bottom: 0.7em

	.points
		&-wrap
			.points__items-wrap
				flex-flow: wrap
				justify-content: center
				.point
					&:nth-child(2n)
						margin-top: 1em

	.gallery-company
		.gallery-company-wrap
			h1
				font-size: 80px
			.gallery__btns
				flex-flow: wrap
				.btn
					margin: 0 2em
					&:last-child
						margin: 1em 0 0 0
			.gallery-slider-wrap
				.gallery-slider

	// Payment
	.goods
		.goods__price
			flex-flow: wrap
			p
				margin: 0 1em
		.goods__items
			.goods-item
				flex-flow: wrap
				.goods-item__img
					margin: 0 auto 1em
				.goods-item-description


	// Basket

	.basket
		&-wrap
			.purchases-wrap
				.total
				.purchases
					.purch
						.purch-left-center-wrap
							flex-flow: column
							align-items: center
							.purch-left
								width: 50px
							.purch-center
								flex-flow: column
								margin: 0
						.purch-right-wrap
							.purch-right
								height: 100px
								flex-flow: column wrap
								margin-right: 0
								.delete-basket
									display: block
									height: 33px
									right: -37%
									margin-top: 20px
									&::after
										top: -4px
										left: 7px

	// Alco Card
	.alco-card
		.alco-card-wrap
			padding: 0 10px

	.alco-card-info
		.alco-card__img
			width: 100px
			img
				width: 100%
		.alco-card-info__body
			width: 100%
			.alco-table
				table
					tr
						td
							width: 50%





/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
