@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff


html
	overflow-x: hidden !important
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.4
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

// Settings

header, section
	position: relative

h1, h2, h3, h4, h5, h6
	line-height: 1.2

.hidden
	display: none

// h1-h6
h1
	font-size: 48px
	font-family: "Playfair Display"

h2
	font-size: 38px
	font-family: "Playfair Display"

h3
	font-size: 32px

h4
	font-size: 28px

h5
	font-size: 22px

h6
	font-size: 18px

// Links

a
	color: #000
	text-decoration: none
	&:focus, &:hover, &:active
		text-decoration: none
	&:hover
		color: $accent

// List
ul, li
	padding: 0
	margin: 0 
	list-style-type: none

// Button

button
	outline: none
	cursor: pointer

.btn
	position: relative
	display: inline-block
	padding: 10px 17px
	text-align: center
	color: #fff
	font-size: 12px
	border-radius: 10px
	box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.75)
	background-image: linear-gradient(to top, #c10029 0%, $accent 100%)
	transition: .4s ease
	overflow: hidden
	outline: none !important
	&:hover
		color: #ff9e9e

	&::before
		content: ''
		position: absolute
		width: 100%
		transform: rotate(-60deg)
		height: 100%
		background: #fff
		transition: all .4s ease
		animation-name: button-blink
		animation-timing-function: ease-in-out
		animation-iteration-count: infinite
		animation-duration: 3s

@keyframes button-blink
	0%
		left: -200%
		opacity: 0.7

	100%
		left: 100%
		opacity: 0

li>a
	padding: 0 4px 0 3px
	position: relative
	cursor: pointer
	// margin: 6px 2px 0
	border: 1px solid #fff
	border-radius: 2px
	transition: all .4s ease
	&::before
		position: absolute
		content: ''
		width: 0%
		height: 100%
		background: lighten($accent, 15)
		top: 0
		left: 50%
		z-index: -1
		transition: all 0s ease
	&:hover
		color: #ffffff
		box-shadow: 0px 4px 10px 2px rgba(blue, 0.2)
		&::before
			position: absolute
			content: ''
			width: 100% 
			height: 100%
			background: lighten($accent, 15)
			top: 0
			left: 0%
			z-index: -1
			transition: all .4s ease


// Modal
.modal
	max-width: 500px
	margin: 0 auto
	background: #fff
	position: relative

// Section
section 


// MagnificPopup Animation
	
// Magnific
/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg 
	opacity: 0
	transition: all 0.15s ease-out

.mfp-fade.mfp-bg.mfp-ready 
	opacity: 0.8

.mfp-fade.mfp-bg.mfp-removing 
	opacity: 0

.mfp-fade.mfp-wrap .mfp-content 
	opacity: 0
	transition: all 0.15s ease-out

.mfp-fade.mfp-wrap.mfp-ready .mfp-content 
	opacity: 1

.mfp-fade.mfp-wrap.mfp-removing .mfp-content 
	opacity: 0


// ====== 3d unfold ======

.mfp-3d-unfold 
	
	.mfp-content 
		perspective: 2000px 
	
	/* start state */
	.mfp-with-anim 
		opacity: 0
		transition: all 0.3s ease-in-out
		transform-style: preserve-3d
		transform: rotateY(-60deg)
	
	&.mfp-bg 
		opacity: 0
		transition: all 0.5s
	
	/* animate in */
	&.mfp-ready 
		.mfp-with-anim 
			opacity: 1
			transform: rotateY(0deg)
		
		&.mfp-bg 
			opacity: 0.8
	
	/* animate out */
	&.mfp-removing 
		
		.mfp-with-anim 
			transform: rotateY(60deg)
			opacity: 0
		
		&.mfp-bg 
			opacity: 0 

.top-line
	position: fixed
	width: 100%
	top: 0
	left: 0
	z-index: 333
	background: #fff
	&-wrap
		max-width: 103.25em
		margin: 0 auto
		padding: 0 0.8em
		
		.top-line-body
			position: relative
			display: flex
			justify-content: space-between
			align-items: center
			height: 114px
			padding: 1em 0 0.7em
			&::before
				content: ''
				width: 92%
				height: 2px
				top: 50%
				right: 0
				background: #c4c4c4
				position: absolute
			.brand
				display: flex
				.logo
					flex: 0 0 90px
					transition: .4s ease
					&:hover
						transform: scale(1.2) rotate(-360deg)
					img
						max-width: 100%
						display: block
		
			.top-line__menu
				display: flex
				flex-direction: column
				justify-content: space-between
				// max-width: 90em
				width: 75%
				height: 100%
				.top-menu, .btm-menu
					// padding: 10px 0
					ul
						display: flex
						align-items: center
				.top-menu
					padding-top: 0.5em
					ul
						li
							margin: 0 0.5em
				.btm-menu
					text-transform: uppercase
					max-width: 100%	
					width: 100%
					padding-top: 1.3em
					ul
						li:not(:last-child)
							border-right: 1px solid #bbbbbb
						li
							padding: 0.4em 0.1em
							a
								font-size: 14px
								padding: 7px 4px 9px 4px
								img
									margin-right: 5px

			.top-line__media
				display: flex
				justify-content: flex-end
				height: 100%
				.btn
					align-self: flex-start
				.top-line-social
					display: flex
					flex-flow: wrap
					align-items: center
					width: 33%
					margin-left: 1em
					a
						font-size: 1.3em
						margin: 0 0 0 10px
					.search, .cart
						font-size: 1.7em
						color: $accent
					.instagram
						display: flex
						flex-direction: column
						text-align: center
						justify-content: center
						color: #fff
						background: linear-gradient(to top, #c10029 0%, $accent 100%)
						width: 27px
						height: 27px
						border-radius: 1em

			.top-line__burger
				display: none

.main-header
	max-height: 830px
	height: 100%
	padding: 114px 0 0 0
	position: relative
	&::before
		content: ''
		background: url("../img/header-bg.png") no-repeat center bottom
		position: absolute
		z-index: 6
		left: -62px
		background-color: #fff
		bottom: -5px
		width: 2000px
		height: 100%
	&-wrap
		position: relative
		margin: 0 auto
		max-width: 1920px
		width: 100%
		max-height: 830px
		height: 100vh
		height: calc(var(--vh, 1vh) * 100)
		&::before
			content: ''
			background: url("../img/header-el.svg") no-repeat
			background-size: cover
			width: 35.6875em
			height: 33.75em
			left: -9em
			top: -11.5em
			position: absolute
			z-index: 7
		&::after
			content: ''
			background: url("../img/header-el1.svg") no-repeat
			background-size: cover
			width: 49.8125em
			height: 36.5em
			position: absolute
			z-index: 7
			bottom: -4em
			right: -4em

		.main-header__headline
			position: absolute
			z-index: 30
			transform: translateY(-50%)
			top: 16em
			left: 8.5em
			h1, h2
				font-family: "Playfair Display", serif
				font-weight: 400
				margin: 0
				line-height: 1
			h1
				font-size: 7.8em
				background-image: linear-gradient(to top, #c10029 0%, #69002f 100%)
				background-clip: text
				color: transparent
			h2
				font-size: 2.2em
				color: #fff

		.video
			position: absolute
			z-index: 99
			display: flex
			justify-content: center
			align-items: center
			align-self: flex-end
			right: 17em
			top: 12em
			// transform: translateY(-50%)
			background-color: #69002f7a
			width: 14.25em
			height: 14.25em
			// opacity: 0.48
			border-radius: 10em
			border: 2px solid #ffffff67
			transition: .4s ease
			animation-name: video-wine
			animation-duration: 2s
			// animation-iteration-count: infinite
			animation-timing-function: 8s
			animation-delay: 6s
			&::before
				content: '►'
				position: absolute
				color: #fff
				top: 80px
				transition: .4s ease
			&::after
				content: 'Смотреть видео'
				position: absolute
				text-align: center
				text-transform: uppercase
				width: 50%
				color: #fff
				font-size: 14px
				bottom: 75px
				transition: .4s ease
			&:hover
				background: darken(#69002faf, 5%)

			@keyframes video-wine
				0%
					transform: rotate(0deg) scale(1.05)

				25%
					transform: rotate(25deg)

				50%
					transform: rotate(-25deg)

				75%
					transform: rotate(25deg)

				100%
					transform: rotate(0deg)

	.header-slider
		height: 100vh
		height: calc(var(--vh, 1vh) * 100)
		position: relative
		overflow: hidden
		&::before
			content: ''
			width: 100%
			height: 721px
			position: absolute
			background-color: #02020375
			left: 0
			top: 0
			z-index: 4
			opacity: 1
		&::after
			content: ''
			width: 15em
			height: 15em
			background-color: #010c20
			border-radius: 10em
			position: absolute
			box-shadow: 0px 0px 150px 200px #010c20
			top: 5em
			left: 5em
			z-index: 6
			opacity: 0.5

		.handler
			max-width: 30em
			width: 100%
			height: 3em
			position: absolute
			left: 8em
			bottom: 8.5em
			z-index: 25
			display: flex
			justify-content: space-around
			transform: translateY(-50%)
			span
				display: block
				height: 4px
				width: 7em
				background-color: #fff
				transition: .4s ease
				cursor: pointer
				border-radius: 0 5px 5px 0
				&:hover
					transform: scale(1.1)
					background-color: $accent
			.choosen
				width: 10%
				height: 0
				&::before
					content: 'ВИДЕО'
					position: absolute
					top: -10px
					font-family: "Playfair Display"
					color: #fff
					display: block
			
		.slide
			max-width: 1926px
			width: 100%
			max-height: 721px
			height: 100%
			position: absolute
			opacity: 0
			overflow: hidden
			transition: 1s ease
			img
				width: 100%
				height: 100%
				
		.show
			max-width: 1920px
			width: 100%
			max-height: 721px
			height: 100%
			opacity: 1
			z-index: 3


.first-sect
	height: 100%
	padding: 0 0 7em 0
	&__headline
		max-width: 61.25em
		margin: 0 auto
		padding: 0 0.7em
		text-align: center
		h3
			font-size: 1.5em
			margin-bottom: 1em
		p
			font-size: 1.125em

	.slider__body
		.slider
			margin: 0 auto 7em
			text-align: center

			.slider-1
				max-width: 100em
				margin: 0 auto
				.item
					max-width: 295px
					width: 100%
					padding: 1em 0 1.5em
					border: 1px solid #e8e8e8
					transition: .4s ease
					img
						display: block
						margin: 0 auto
						width: 4.375em
						height: auto
					&:hover
						transform: scale(1.1)
						background: url("../img/slider-bg.webp") no-repeat center center
						box-shadow: 0 0 24px rgba(32, 37, 46, 0.26)
						transition: .4s ease, background .00000000000000000000001s ease
						.item__buy
							display: flex
							justify-content: space-evenly
					i
						color: $accent
						font-size: 14px
						margin-top: 0.5em
					h3
						font-size: 20px
						font-weight: bold
					strong
						font-family: "PlayfairDisplay"
						font-size: 2em
						color: $accent
						border-top: 1px solid #2e2e2e
					&__buy
						display: none
						margin-top: 2em
						input
							width: 1.5em
							border: 1px solid #ebebeb
							border-radius: 10em
							padding-left: 7px
						span
							display: flex
							justify-content: center
							align-items: center
							border-radius: 10em
							font-size: 1.5em
							width: 1.5em
							height: 1.5em
							cursor: pointer
							box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.75)
							transition: .7s ease
						.minus
							color: $accent
							border: 2px solid $accent
							&:hover
								background: radial-gradient(circle 22px at 49.37% 60.35%, #c10029 0%, $accent 100%)
								color: #fff
						.plus
							background: radial-gradient(circle 22px at 49.37% 60.35%, #c10029 0%, $accent 100%)
							color: #fff
							&:hover
								border: 2px solid $accent
								background: none
								color: $accent
						a
							background: #20252e
							border-radius: 10px
							text-align: center
							padding: 7px 8px
							color: #fff
							transition: .4s ease
							&:hover
								background: lighten(#20252e, 10%)
				.owl-stage-outer
					padding: 5em 1.5em 8em

				.owl-nav
					position: absolute
					right: 0
					bottom: 0
					.owl-prev
						right: 3em
						bottom: -1em
					.owl-next
						right: 0.4em
						bottom: -1em
					.owl-next, .owl-prev
						transition: .4s ease
						position: absolute
						display: flex
						justify-content: center
						align-items: center
						padding: 0 5px 0 0
						font-size: 2.3em
						transform: rotate(-8deg)
						border-radius: 10em
						width: 1em
						height: 1em
						&:hover
							background-image: linear-gradient(to top, #c10029 0%, $accent 100%)
							box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.75)
							color: #fff

			.slider-counter
				max-width: 99.9em	
				margin: 0.7em auto 0
				padding: 0 4.2em
				display: flex
				justify-content: flex-end
				position: relative
				&::before
					content: ''
					width: 93%
					height: 2px
					background: #777777
					position: absolute
					transform: translate(-6%, 10px)
				&::after
					content: ''
					background: url("../img/counter-bg.svg")
					width: 177px
					height: 132px
					position: absolute
					right: 0
					bottom: -3em


.second-sect
	background-image: url(../img/slider-2-bg.jpg)
	background-repeat: no-repeat
	background-position: center center
	padding: 8em 0 8em
	&-wrap
		max-width: 100%
		margin: 0 auto
		.second-sect__headline
			max-width: 48.75em
			margin: 0 auto
			text-align: center
			color: #fff
			h3
				font-family: "Playfair Display"
				font-size: 2.2em
				font-weight: 400
			p
				font-size: 18px

		.second-sect-slider
			position: relative
			
			.slider-2
				position: relative
				&::before
					content: ''
					width: 6.25em
					height: 100%
					position: absolute
					left: 0
					top: 50%
					background: #1c2028
					box-shadow: 40px 0px 115px 110px #1c2028
					transform: translateY(-50%)
					z-index: 2
				&::after
					content: ''
					width: 6.25em
					height: 100%
					position: absolute
					right: 0
					top: 50%
					transform: translateY(-50%)
					background: #1c2028
					box-shadow: -40px 0px 115px 110px #1c2028
					z-index: 2
				.item
				.center
					transform: scale(1.2)
					box-shadow: 0px 0px 70px 5px $accent

				.owl-stage-outer
					padding: 6em 0

				.owl-nav
					width: 100%
					position: absolute
					top: 50%
					// left: 50%
					transform: translateY(-50%)
					z-index: 10
					.owl-prev
						right: 94%
						top: 0
					.owl-next
						left: 94%
						top: 0
					.owl-next, .owl-prev
						z-index: 10
						transition: .4s ease
						position: absolute
						display: flex
						justify-content: center
						align-items: center
						padding: 0 5px 0 0
						font-size: 2.3em
						transform: rotate(-8deg)
						border-radius: 10em
						width: 1.3em
						height: 1.3em
						color: $accent
						border: 2px solid $accent
						&:hover
							background-image: linear-gradient(to top, #c10029 0%, $accent 100%)
							box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.75)
							color: #fff

		.second-sect__btns
			margin: 0 auto
			display: flex
			justify-content: space-between
			margin-top: 3em
			width: 23%
			.btn


@import "media" // Always at the end
